@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
#app {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300 !important;
}
